.all-container {
  height: 100%;
  width: 100%;
  padding-top: 15px;
}

table {
  width: 80%;
  padding: 10px;
}

h5 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -3px;
  margin: 5px 0 10px;
  width: 80%;
}
