<div class="all-container">
  <div class="personal-info blur">
    <span>Bonjour, je suis</span>
    <h3>Mathieu Cissé</h3>
    <h5>Développeur web junior</h5>
    <button mat-raised-button>Télécharger mon CV</button>
    <hr>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/mathieu-cissé/"><i class="fa-brands fa-linkedin"></i></a>
      <a href="javascript:void(0)"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.instagram.com/tieutieu.mc/"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</div>
