<div class="all-container">

  <div class="jumbotron mb-3">

    <div class="container p-auto d-flex justify-content-around align-items-start">
      <div class="d-none d-lg-block d-xl-block m-5">
        <img class="rounded-circle text-center mt-4" src="assets/img/linkedin_profile.jpg" width="200" height="200">
      </div>

      <div class="m-5">
        <h2 class="display-3">Qui suis-je ?</h2>
        <p>
          Diplômé d’une Licence professionnelle Conception et développement d’applications distribuées et titulaire d’un DUT
          Informatique, je maîtrise des compétences dans le développement informatique particulièrement dans le
          développement web.
        </p>
        <p>
          J'ai réalisé deux alternances : une dans la société DAFI Informatique durant un an et une autre dans la société Cirkwi
          durant un an. Mon alternance chez DAFI Informatique m'a permis d'affiner mes compétences dans le développement
          web et d'optimiser des requêtes SQL. Et mon alternance chez Cirkwi m'a aussi permis d'améliorer mes compétences
          dans le développement web.
        </p>
        <p>
          Enfin je possède également des compétences professionnelles comme l’organisation de travail, l’esprit d’analyse, la
          polyvalence, le travail d’équipe, être fort de proposition et être autonome.
        </p>
      </div>
    </div>
  </div>


  <div class="container mb-3">
    <div class="row p-5">
      <div class="col-lg-4 text-center">
        <img class="rounded-circle text-center" src="assets/img/volleyball.jpg" width="200" height="200">
        <h2>Volley-ball</h2>
        <p class="text-justify">Le volleyball est un sport qui me permet de défier moi-même et de travailler en équipe pour atteindre un objectif commun. J'aime la sensation de voler dans les airs pour frapper la balle et les sensations de camaraderie et de défi que cela apporte.</p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="assets/img/workout.jpg" width="200" height="200">
        <h2>Musculation</h2>
        <p class="text-justify">La musculation est un autre de mes passe-temps préférés car elle me permet de me dépasser physiquement et de me sentir plus fort et plus en forme. Le fait de pousser mes limites physiques me donne également un sentiment de satisfaction personnelle.</p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="assets/img/video-editing.jpg" width="200" height="200">
        <h2>Montage vidéo</h2>
        <p class="text-justify">Le montage vidéo est une passion qui me permet de créer des projets visuels uniques et de donner vie à mes idées. J'aime pouvoir combiner mes compétences en matière de création et d'édition pour créer des vidéos.</p>
      </div>
    </div>
  </div>
</div>
