*:not(mat-icon){
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav {
  height: 7vh;
  background: #212121;
}

.components-outlet {
  height: 93vh;
}

.nav a {
  font-size: 15px;
  margin: 0 10px
}

.nav .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: 2px solid transparent;
}

.nav .nav-link:hover, .nav .nav-link.active {
  color: #fff;
  border-bottom-color: #fff;
}

@media only screen and (max-width: 700px) {
  .nav a {
    font-size: 10px;
    margin: 0 2px;
  }
  .nav .nav-link {
    padding: 5px 10px;
    border-bottom-width: 1px;
  }
}

@media only screen and (max-width: 400px) {
  .nav .nav-link {
    padding: 2px 5px;
    border-bottom-width: 1px;
  }
}
