<div class="all-container">
  <div class="container-title">
    <h3>Mes compétences</h3>
  </div>
  <div class="container-skills">
    <div id="skills">
      <h5>Compétences techniques</h5>
      <ul>
        <li>Administration et utilisation d’un dépôt GIT</li>
        <li>Système d’exploitation : Windows et Linux</li>
        <li>Administration serveur web Apache</li>
        <li>Administration et installation base de données MySQL</li>
        <li>Manipulation bases de données NoSQL : MongoDB, Redis</li>
        <li>Manipulation de conteneurs Docker</li>
        <li>Manipulation bases de données NoSQL : MongoDB, Redis</li>
        <li>Connaissance des principes des 12-Factor</li>
        <li>Méthodologie Scrum</li>
        <li>Utilisation IDE de développement</li>
        <li>OS</li>
      </ul>
    </div>
    <div id="languages">
      <h5>Compétences en programmation</h5>

      <div class="backend">
        <h6>Back-End</h6>
        <ul>
          <li>J2EE</li>
          <li>C# .NET</li>
          <li>Node JS</li>
          <li>PHP</li>
          <li>Laravel</li>
          <li>Symfony</li>
        </ul>
      </div>

      <div class="backend">
        <h6>Front-End</h6>
        <ul>
          <li>Javascript/JQuery</li>
          <li>Typescript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>React</li>
          <li>Angular</li>
        </ul>
      </div>

      <div class="various">
        <h6>Divers</h6>
        <ul>
          <li>Java</li>
          <li>Shellscript</li>
          <li>C</li>
          <li>CSS</li>
          <li>Markdown</li>
        </ul>
      </div>

    </div>
  </div>
</div>
