<div class="all-container">
  <div id="loading-screen" *ngIf="skills.length <= 0">
    <mat-spinner></mat-spinner>
  </div>
  <div class="container-skills" *ngIf="skills.length > 0">
    <h5>Mes compétences</h5>
    <div id="skills">
      <div *ngFor="let skill of skills" class="card mb-3" scrollAnimation>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ skill.thumb }}" class="img-fluid">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ skill.title }}</h5>
              <p class="card-text">{{ skill.description }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
