<div class="all-container">
  <div class="container-skills" *ngIf="(skillsObservable$ | async); else loading">
    <h5>Mes compétences</h5>
    <div id="skills">
      <div *ngFor="let skill of skillsObservable$ | async" class="card mb-3" scrollAnimation>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ skill.thumb }}" style="max-width: 100%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ skill.title }}</h5>
              <p class="card-text">{{ skill.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div id="loading-screen">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
